<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244854241740-h1p5cfpp1qs9mar0t44rml5s4phe4efe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244854241740-h1p5cfpp1qs9mar0t44rml5s4phe4efe</string>
	<key>API_KEY</key>
	<string>AIzaSyDgC1_js1lca5b4aEix_4zZRoRbrGp3QWI</string>
	<key>GCM_SENDER_ID</key>
	<string>244854241740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.praktikum6</string>
	<key>PROJECT_ID</key>
	<string>prakflutterfirebase-edcdf</string>
	<key>STORAGE_BUCKET</key>
	<string>prakflutterfirebase-edcdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244854241740:ios:6f28881154ac1b40ce8569</string>
	<key>DATABASE_URL</key>
	<string>https://prakflutterfirebase-edcdf-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>